In [86]:
import numpy as np
from numpy import random

# Create a numpy array of int, characters, float and find their shapes

In [87]:
arr = np.array([1, 2, 3, 4,5])
print(arr)
print("---------------------")
print(arr.shape)

[1 2 3 4 5]
---------------------
(5,)

In [88]:
arrc = np.array(['a', 'b', 'c', 'd','e'])
print(arrc)
print("---------------------")
print(arrc.shape)

['a' 'b' 'c' 'd' 'e']
---------------------
(5,)

In [89]:
arr3 = np.array([2.1,6.3,4.7,3.6])
print(arr3)
print("---------------------")
print(arr3.shape)

[2.1 6.3 4.7 3.6]
---------------------
(4,)

# Create a zeros, empty, identity , eye and a full array

In [90]:
arrz = np.zeros((2,3), dtype=int, order='C')
print(arrz)

[[0 0 0]
 [0 0 0]]

In [91]:
arre = np.empty((2,3), dtype = int, order='C')
print(arre)

[[0 0 0]
 [0 0 0]]

In [92]:
arri = np.identity(2, dtype = int)
arri

array([[1, 0],
       [0, 1]])

In [93]:
arre2 = np.eye(9,k = 3, dtype = int) #k is the diagnol
arre2

array([[0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [94]:
arrf = np.full([4, 2],11, dtype = int)
print(arrf)

[[11 11]
 [11 11]
 [11 11]
 [11 11]]

# Declare an array having the datatype of object, is it possible?

In [95]:
arro = np.empty((2,3), dtype = object) 
print(arro)

[[None None None]
 [None None None]]

#### Yes, it is possible

# Create an array having 5 equally spaced numbers ranging from 5 to 15

In [96]:
arrs = np.linspace(5, 15, num = 5, dtype = int)
arrs

array([ 5,  7, 10, 12, 15])

# Create a numpy array ranging from 1 to 100.

In [97]:
arr2 = np.arange(1,101, dtype= int)
arr2

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

# Reshape the above array into (100,15). Is it possible?
#### It is not possible

# Reshape the array into (100,10).
#### It is not possible.

# Flatten and ravel the reshaped array. What is the difference?

In [98]:
arrfl = np.reshape(arr2,(10,-1))
print(arrfl.flatten())
print(arrfl.flatten().shape)
print("-------------------------")
print(arrfl.ravel())
print(arrfl.ravel().shape)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]
(100,)
-------------------------
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100]
(100,)

#### Ravel and flatten both convert multidimensional array  into one dimensional array. Ravel is faster than flatten which is only limited to numpy arrays.

# Take an array [[1 2 3] [4 5 6] [ 7 8 9]]. Sum it along 0 and 1 axis

In [99]:
arra = np.array([[1, 2, 3], [4, 5, 6], [ 7, 8, 9]])
arrsum = np.sum(arra,axis = 0)
print(arrsum)
print("---------------------")
arrsum2 = np.sum(arra,axis = 1)
print(arrsum2)

[12 15 18]
---------------------
[ 6 15 24]

# Find the number of bytes used by your array

In [100]:
print(arra.nbytes)

36

# Find the maximum and minimum values in a 1D array.

In [101]:
arr = np.array([1, 8, 7, 2, 5])
print(np.max(arr))

8

In [102]:
print(np.min(arr))

1

# Find the maximum and minimum values in 2D array

In [103]:
print(np.max(arra))

9

In [104]:
print(np.min(arra))

1

# Sort an array

In [105]:
print(np.sort(arr))

[1 2 5 7 8]

# Is * and mul the same as dot product for numpy arrays and matrices? Check.

In [120]:
a1 = np.random.randint(1,5, size=(5))
a2 = np.random.randint(1,5,size = (5))
ans = a1* a2
print(ans)
print("-----------------------------")
ans2 = np.multiply(a1,a2)
print(ans2)
print("-----------------------------")
a = [1,12,5,7]
b = [9,0,2,5]
a = np.array(a)
b = np.array(b)
ans3 = np.dot(a.T, b)
print(ans3)
print("-----------------------------")

[ 2 12  8  4  1]
-----------------------------
[ 2 12  8  4  1]
-----------------------------
54
-----------------------------

#### They are not the same

# Take the square root and norm of an array.

In [121]:
arrsq = np.sqrt([9, 4,  16])
arrsq

array([3., 2., 4.])

In [122]:
norma = np.linalg.norm(arr2)
print(norma)

5.477225575051661

# Find the std, non-zero, zero values and mean of an array.

In [123]:
arr = random.randint(15, size = (7))
arr

array([10,  0,  6,  2, 10,  2, 12])

In [124]:
st = np.std(arr)
print(st)
print("--------------")
nzer = np.nonzero(arr)
print(nzer)
print("--------------")
arr2 = np.array([1,0,2,0,5])
ze = np.where(arr2 == 0)[0]
print(zer)

4.4077853201547175
--------------
(array([0, 2, 3, 4, 5, 6], dtype=int64),)
--------------
(array([0, 1, 2, 3, 4, 5, 6], dtype=int64),)

# Convert some angles to radians and vice versa.

In [127]:
rad = np.radians(90)
ang = np.rad2deg(rad)
print(rad, ang)

1.5707963267948966 90.0

# Save and load some of your arrays

In [125]:
np.savetxt("lab10.txt", arr2)
ld = np.loadtxt("lab10.txt")
print(arr2 == ld)

[ True  True  True  True  True]

# Calculate the mean, std, var, max, min, of an array with shape (3,3,12,3) containing floats drawn from a normal distribution with mean 21 and sigma 4.5. see the np.random.normal.

In [129]:
mean, std = 12, 3.5
x = np.random.normal(loc = mean, scale = std, size= (3,3,12,3))
print(x)

[[[[ 8.90112831 10.77111336 10.43338126]
   [11.62057759 12.55073024 11.04511518]
   [ 9.66066173 13.14110725  9.41642252]
   [ 8.47857995 16.20482538  8.27447401]
   [ 5.26247686  7.64934896 13.66743461]
   [10.44919983 13.45458322 12.23630714]
   [11.7394282   7.45931329 13.54581368]
   [10.13234201 16.45826207  7.76286955]
   [14.82635371  7.06474694 10.21574808]
   [15.13773602 13.42923746 15.0483404 ]
   [16.04474364  6.19818513 11.18240753]
   [ 8.8891591   5.07452652 11.71714679]]

  [[15.82341716 10.87824727 11.05652202]
   [16.9983634  11.57234087 11.79880531]
   [ 6.92963191 16.40981294  8.3261568 ]
   [ 5.09402851 22.35047168 12.94687412]
   [19.20525345 14.11352082  9.79410004]
   [ 4.96545617 10.29394483 16.51219845]
   [15.35576834 14.4989356  13.68304403]
   [10.09769891  7.392948    4.29749927]
   [ 9.91349572 12.75250913 11.68247983]
   [14.37757238 11.59483832  9.75714818]
   [19.07315617 13.86457996 11.64306506]
   [ 7.2612553   7.14440551 12.79128173]]

  [[14.27802957 12.67561421 19.50065054]
   [10.63614225 15.29556345 13.73474732]
   [15.76159615 11.75122128 15.94012428]
   [17.89222734 10.37865835 12.40477217]
   [13.26263451 12.27317841 15.53654881]
   [10.21037357 10.81825188 12.77291611]
   [17.5517856  11.8089197  13.1340019 ]
   [11.88583403  7.55180298 13.77023795]
   [11.55598763 15.52305667  8.80768016]
   [16.54430034 16.99257248  6.56769732]
   [15.41576318 14.86041848 18.1302164 ]
   [ 9.49679643 13.3739676  11.5058385 ]]]


 [[[12.96207613 13.85270688 14.56663597]
   [ 8.89675172 13.25529961  7.37791052]
   [15.68842998 14.02607481 10.88878261]
   [14.94934012 12.92301299 10.80072108]
   [ 9.59353107 12.66326155 16.42961855]
   [10.79629958  8.57320317 13.93077628]
   [12.43258804 15.81491877  8.5141045 ]
   [13.5362242   9.19182338 10.96011845]
   [10.13183845 19.08438976 13.67824749]
   [11.04995123 13.36152183  6.03830362]
   [11.24333786 10.73251854 10.763767  ]
   [11.65546685  8.3234553  10.70695734]]

  [[ 5.43781243 12.88576662 13.96272503]
   [22.24212308  8.95813199  9.82575107]
   [17.28373184 12.11289227 13.88646751]
   [13.770857   14.86010444 14.67608662]
   [12.69958967 13.52239736 11.55000609]
   [18.26363146 13.94864996  7.02127844]
   [ 9.60407715 11.86782693  4.41521422]
   [10.41579718 12.73679415 10.1465219 ]
   [10.78396321 18.88162566 12.55039304]
   [15.9242326  10.53036705 15.9110942 ]
   [ 9.13808902  7.13645236 10.45085332]
   [ 9.50242101  8.40253274 13.8639695 ]]

  [[13.48329359  9.75912313  9.83702883]
   [ 8.64431944 11.46076424 16.62638431]
   [17.84023836 16.39929189 12.91887142]
   [ 5.37453434 10.919009   12.56848904]
   [10.52702908 15.48285676 12.61302466]
   [ 5.01913397 15.06231828  8.79536606]
   [13.30326327 14.50572933 10.31009716]
   [11.31754112 18.87755505 19.00915946]
   [14.0330386   9.38625541 15.67834447]
   [12.86055879  6.08563349 13.50617226]
   [ 9.83967065 11.39980996 12.34512959]
   [17.85960071 12.69997884 13.80737932]]]


 [[[13.64962535 13.21525961  7.91585121]
   [14.66741042 14.71522916 12.52153595]
   [14.35162495  7.60814131 15.87226691]
   [ 8.68057275 11.22028426 14.29505655]
   [12.62742088 11.33871001  8.01055218]
   [13.40042264  9.93502675 13.171924  ]
   [11.83944087 11.29148297  9.99340949]
   [13.4001515   6.68145982 14.64098593]
   [ 9.84581138 12.91111859 10.01036914]
   [ 9.11725487 11.03736978  9.73553503]
   [12.49234076 11.03157491  8.47545771]
   [11.61993461 16.07569221 14.6258634 ]]

  [[ 9.78206321  7.79639053 12.67228388]
   [15.33087916 13.67108635 18.65084458]
   [13.24056834 12.3948081  14.34008569]
   [10.01411856 13.80136335  6.08936456]
   [18.71150102  7.14280949  9.5272654 ]
   [ 8.9597477  11.6500616  14.58096244]
   [13.75568306 10.98768351 12.24678899]
   [19.71850924  9.35123501 12.32425176]
   [ 7.30017001 12.26506333 12.68799774]
   [ 8.01334936 19.53409207 15.12192121]
   [13.20980486 10.0459554   8.4840047 ]
   [12.2018392   9.91378224  7.04223167]]

  [[12.07896771 20.14268806 11.99980223]
   [13.42898479 13.34960435  8.41523976]
   [ 8.36157621  9.03918874 15.26346798]
   [13.43692825 14.38410283 13.00174756]
   [ 7.16352088 13.15563108 16.7086632 ]
   [ 8.55994829  9.8016256  10.20158325]
   [14.76995758 15.0023086  12.61495403]
   [10.03302811 12.06966542 11.12479968]
   [ 8.53491953 10.13748789  9.90790129]
   [10.818251   10.09590866 16.27501811]
   [10.53114747 14.17173879 10.18641605]
   [14.15000838 15.489791   14.6809644 ]]]]

In [130]:
print(np.mean(x))

<built-in method mean of numpy.ndarray object at 0x000001693810B510>

In [131]:
print(np.std(x))

3.2976817873823694

In [132]:
print(np.var(x))

10.87470517083338

In [134]:
print(np.min(x))

4.297499271461147

In [135]:
print(np.max(x))

22.350471682280343