In [56]:
import numpy as np
import pandas as pd

In [57]:
ecg = pd.read_csv('ECG200_TRAIN.csv' , delimiter = '  ',header =None)

<ipython-input-57-12d3d5975bd4>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ecg = pd.read_csv('ECG200_TRAIN.csv' , delimiter = '  ',header =None)

In [58]:
ecg

,0,1,2,3,4,5,6,7,8,9,...,87,88,89,90,91,92,93,94,95,96
0,-1.0,0.502055,0.542163,0.722383,1.428885,2.136516,2.281149,1.936274,1.468890,1.008845,...,0.931043,0.610298,0.638894,0.684679,0.583238,0.640522,0.708585,0.705011,0.713815,0.433765
1,1.0,0.147647,0.804668,0.367771,0.243894,0.026614,-0.274402,0.096731,-0.747731,-1.609777,...,-0.533503,-0.400228,0.176084,1.111768,2.438428,2.734889,1.736054,0.036857,-1.265074,-0.208024
2,-1.0,0.316646,0.243199,0.370471,1.063738,1.678187,1.759558,1.697717,1.612159,1.168188,...,0.764229,0.610621,0.552900,0.566786,0.604002,0.777068,0.812345,0.748848,0.818042,0.539347
3,-1.0,1.168874,2.075901,1.760141,1.606446,1.949046,1.302842,0.459332,0.516412,0.852180,...,0.419006,0.723888,1.323947,2.136488,1.746597,1.470220,1.893512,1.256949,0.800407,0.731540
4,1.0,0.648658,0.752026,2.636231,3.455716,2.118157,0.520620,-0.188627,0.780818,0.933775,...,-0.097869,-0.136787,-0.340237,-0.089441,-0.080297,-0.192584,-0.304704,-0.454556,0.314590,0.582190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.0,0.581277,0.876188,1.042767,1.796120,2.541399,2.246653,1.500387,1.031521,0.382672,...,1.002770,0.907869,0.916457,0.923975,0.767357,0.656223,0.762357,0.501373,-0.333336,-0.524546
96,-1.0,2.689017,2.708703,2.008381,2.235800,1.516982,0.029916,-0.561346,-0.793702,-0.979371,...,-0.136610,-0.072176,-0.082738,-0.138468,-0.120396,-0.089411,-0.243141,-0.119710,0.124042,0.273463
97,-1.0,0.197677,0.455417,0.973110,1.935956,2.259463,1.741341,1.158296,0.418241,-0.071605,...,0.482452,0.325569,0.247991,0.184127,0.050358,0.241988,0.331451,-0.120006,0.042423,0.343293
98,1.0,0.179500,1.038409,1.946421,2.705141,1.670706,-0.101167,-1.578876,-0.750906,0.175310,...,0.324323,0.330489,0.111953,0.448948,0.567132,0.136757,0.444768,0.151050,0.193378,0.451709
99,1.0,0.073124,0.776054,2.181336,3.440325,2.168475,0.497315,-0.924284,-1.499227,-0.679328,...,-0.058935,-0.130638,-0.347235,-0.177933,-0.060332,-0.347634,-0.447443,-0.066689,-0.178448,-0.256052

In [93]:
labels=['feature '+str(x) for x in range(ecg.shape[1])]
labels

['feature 0',
 'feature 1',
 'feature 2',
 'feature 3',
 'feature 4',
 'feature 5',
 'feature 6',
 'feature 7',
 'feature 8',
 'feature 9',
 'feature 10',
 'feature 11',
 'feature 12',
 'feature 13',
 'feature 14',
 'feature 15',
 'feature 16',
 'feature 17',
 'feature 18',
 'feature 19',
 'feature 20',
 'feature 21',
 'feature 22',
 'feature 23',
 'feature 24',
 'feature 25',
 'feature 26',
 'feature 27',
 'feature 28',
 'feature 29',
 'feature 30',
 'feature 31',
 'feature 32',
 'feature 33',
 'feature 34',
 'feature 35',
 'feature 36',
 'feature 37',
 'feature 38',
 'feature 39',
 'feature 40',
 'feature 41',
 'feature 42',
 'feature 43',
 'feature 44',
 'feature 45',
 'feature 46',
 'feature 47',
 'feature 48',
 'feature 49',
 'feature 50',
 'feature 51',
 'feature 52',
 'feature 53',
 'feature 54',
 'feature 55',
 'feature 56',
 'feature 57',
 'feature 58',
 'feature 59',
 'feature 60',
 'feature 61',
 'feature 62',
 'feature 63',
 'feature 64',
 'feature 65',
 'feature 66',
 'feature 67',
 'feature 68',
 'feature 69',
 'feature 70',
 'feature 71',
 'feature 72',
 'feature 73',
 'feature 74',
 'feature 75',
 'feature 76',
 'feature 77',
 'feature 78',
 'feature 79',
 'feature 80',
 'feature 81',
 'feature 82',
 'feature 83',
 'feature 84',
 'feature 85',
 'feature 86',
 'feature 87',
 'feature 88',
 'feature 89',
 'feature 90',
 'feature 91',
 'feature 92',
 'feature 93',
 'feature 94',
 'feature 95',
 'feature 96']

In [60]:
labels[0]='class'

In [61]:
labels

['class',
 'feature 1',
 'feature 2',
 'feature 3',
 'feature 4',
 'feature 5',
 'feature 6',
 'feature 7',
 'feature 8',
 'feature 9',
 'feature 10',
 'feature 11',
 'feature 12',
 'feature 13',
 'feature 14',
 'feature 15',
 'feature 16',
 'feature 17',
 'feature 18',
 'feature 19',
 'feature 20',
 'feature 21',
 'feature 22',
 'feature 23',
 'feature 24',
 'feature 25',
 'feature 26',
 'feature 27',
 'feature 28',
 'feature 29',
 'feature 30',
 'feature 31',
 'feature 32',
 'feature 33',
 'feature 34',
 'feature 35',
 'feature 36',
 'feature 37',
 'feature 38',
 'feature 39',
 'feature 40',
 'feature 41',
 'feature 42',
 'feature 43',
 'feature 44',
 'feature 45',
 'feature 46',
 'feature 47',
 'feature 48',
 'feature 49',
 'feature 50',
 'feature 51',
 'feature 52',
 'feature 53',
 'feature 54',
 'feature 55',
 'feature 56',
 'feature 57',
 'feature 58',
 'feature 59',
 'feature 60',
 'feature 61',
 'feature 62',
 'feature 63',
 'feature 64',
 'feature 65',
 'feature 66',
 'feature 67',
 'feature 68',
 'feature 69',
 'feature 70',
 'feature 71',
 'feature 72',
 'feature 73',
 'feature 74',
 'feature 75',
 'feature 76',
 'feature 77',
 'feature 78',
 'feature 79',
 'feature 80',
 'feature 81',
 'feature 82',
 'feature 83',
 'feature 84',
 'feature 85',
 'feature 86',
 'feature 87',
 'feature 88',
 'feature 89',
 'feature 90',
 'feature 91',
 'feature 92',
 'feature 93',
 'feature 94',
 'feature 95',
 'feature 96']

In [62]:
ecg.columns = labels

In [63]:
ecg.head()

,class,feature 1,feature 2,feature 3,feature 4,feature 5,feature 6,feature 7,feature 8,feature 9,...,feature 87,feature 88,feature 89,feature 90,feature 91,feature 92,feature 93,feature 94,feature 95,feature 96
0,-1.0,0.502055,0.542163,0.722383,1.428885,2.136516,2.281149,1.936274,1.468890,1.008845,...,0.931043,0.610298,0.638894,0.684679,0.583238,0.640522,0.708585,0.705011,0.713815,0.433765
1,1.0,0.147647,0.804668,0.367771,0.243894,0.026614,-0.274402,0.096731,-0.747731,-1.609777,...,-0.533503,-0.400228,0.176084,1.111768,2.438428,2.734889,1.736054,0.036857,-1.265074,-0.208024
2,-1.0,0.316646,0.243199,0.370471,1.063738,1.678187,1.759558,1.697717,1.612159,1.168188,...,0.764229,0.610621,0.552900,0.566786,0.604002,0.777068,0.812345,0.748848,0.818042,0.539347
3,-1.0,1.168874,2.075901,1.760141,1.606446,1.949046,1.302842,0.459332,0.516412,0.852180,...,0.419006,0.723888,1.323947,2.136488,1.746597,1.470220,1.893512,1.256949,0.800407,0.731540
4,1.0,0.648658,0.752026,2.636231,3.455716,2.118157,0.520620,-0.188627,0.780818,0.933775,...,-0.097869,-0.136787,-0.340237,-0.089441,-0.080297,-0.192584,-0.304704,-0.454556,0.314590,0.582190

In [64]:
labels = ecg.iloc[0:100, :1]

In [65]:
labels.value_counts()

class
 1.0     69
-1.0     31
dtype: int64

In [66]:
ecg1 = ecg[ecg['class'] == 1.0]
ecg2 = ecg[ecg['class'] == -1.0]

In [67]:
ecg1.shape

(69, 97)

In [68]:
ecg2.shape

(31, 97)

In [69]:
rem1 = int(69/4)
rem2 = int(31/4)
print("ans 1 :", rem1)
print("ans 2 :", rem2)

ans 1 : 17
ans 2 : 7

In [70]:
df1 = pd.concat([ecg1[:rem1], ecg2[:rem2]])

df2 =  pd.concat([ecg1[rem1 : 2*rem1], ecg2[rem2 : 2*rem2]])

df3 =  pd.concat([ecg1[2*rem1 : 3*rem1], ecg2[2*rem2 : 3*rem2]])

df4 =  pd.concat([ecg1[3*rem1 :], ecg2[3*rem2 :]])

In [71]:
(df1.shape, df2.shape, df3.shape, df4.shape)

((24, 97), (24, 97), (24, 97), (28, 97))

In [72]:
df1['class'].value_counts()

 1.0    17
-1.0     7
Name: class, dtype: int64

In [73]:
df2['class'].value_counts()

 1.0    17
-1.0     7
Name: class, dtype: int64

In [74]:
df3['class'].value_counts()

 1.0    17
-1.0     7
Name: class, dtype: int64

In [75]:
from sklearn.utils import shuffle
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report

In [76]:
df1 = shuffle(df1)
df2 = shuffle(df2)
df3 = shuffle(df3)
df4 = shuffle(df4)

In [77]:
df4['class'].value_counts()

 1.0    18
-1.0    10
Name: class, dtype: int64

In [78]:
x = pd.concat([df2, df3, df4], axis = 0)
y = df1
y.head()

,class,feature 1,feature 2,feature 3,feature 4,feature 5,feature 6,feature 7,feature 8,feature 9,...,feature 87,feature 88,feature 89,feature 90,feature 91,feature 92,feature 93,feature 94,feature 95,feature 96
20,1.0,-0.368080,-0.621984,-0.601417,-0.628289,-0.611443,-0.392572,-0.322742,-0.579116,-0.896488,...,0.556864,0.968940,1.354753,2.190151,2.465477,1.646662,0.921942,0.270196,-0.490640,-0.452513
2,-1.0,0.316646,0.243199,0.370471,1.063738,1.678187,1.759558,1.697717,1.612159,1.168188,...,0.764229,0.610621,0.552900,0.566786,0.604002,0.777068,0.812345,0.748848,0.818042,0.539347
9,1.0,1.668206,2.848173,2.516978,2.172773,0.720467,0.725376,1.638602,1.292904,1.609566,...,-0.154365,-0.017805,-0.007506,0.005362,-0.026597,-0.048192,-0.032347,-0.214054,0.056031,0.147889
0,-1.0,0.502055,0.542163,0.722383,1.428885,2.136516,2.281149,1.936274,1.468890,1.008845,...,0.931043,0.610298,0.638894,0.684679,0.583238,0.640522,0.708585,0.705011,0.713815,0.433765
24,1.0,0.475276,1.343113,2.784832,2.887771,1.550017,-0.405390,-0.024368,1.056572,0.764721,...,0.042160,-0.051857,-0.067828,0.010170,-0.019264,-0.057952,-0.077762,0.075638,0.080578,-0.029783

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

acc1 = []
acc2 = []

X_train = x.drop('class',axis=1)
Y_train = x["class"]
X_test = y.drop('class',axis=1)
Y_test = y["class"]

c1 = RandomForestClassifier(max_depth=None, random_state=0)
c1.fit(X_train, Y_train)
p = c1.predict(X_test)
print ("Accuracy : " , accuracy_score(Y_test,p)*100)  
print("Report : \n", classification_report(Y_test, p))
print("F1 Score : ",f1_score(Y_test, p, average='macro')*100)

acc1.append(accuracy_score(Y_test,p)*100)

Accuracy :  83.33333333333334
Report :
               precision    recall  f1-score   support

        -1.0       0.67      0.86      0.75         7
         1.0       0.93      0.82      0.87        17

    accuracy                           0.83        24
   macro avg       0.80      0.84      0.81        24
weighted avg       0.86      0.83      0.84        24

F1 Score :  81.25

In [80]:
x = pd.concat([df1, df3, df4], axis = 0)
y = df2

X_train = x.drop('class',axis=1)
Y_train = x["class"]
X_test = y.drop('class',axis=1)
Y_test = y["class"]

c1 = RandomForestClassifier(max_depth=None, random_state=0)
c1.fit(X_train, Y_train)
p = c1.predict(X_test)
print ("Accuracy : " , accuracy_score(Y_test,p)*100)  
print("Report : \n", classification_report(Y_test, p))
print("F1 Score : ",f1_score(Y_test, p, average='macro')*100)

acc1.append(accuracy_score(Y_test,p)*100)

Accuracy :  83.33333333333334
Report :
               precision    recall  f1-score   support

        -1.0       0.71      0.71      0.71         7
         1.0       0.88      0.88      0.88        17

    accuracy                           0.83        24
   macro avg       0.80      0.80      0.80        24
weighted avg       0.83      0.83      0.83        24

F1 Score :  79.83193277310924

In [81]:
x = pd.concat([df1, df2, df4], axis = 0)
y = df3


X_train = x.drop('class',axis=1)
Y_train = x["class"]
X_test = y.drop('class',axis=1)
Y_test = y["class"]

c1 = RandomForestClassifier(max_depth=None, random_state=0)
c1.fit(X_train, Y_train)
p = c1.predict(X_test)
print ("Accuracy : " , accuracy_score(Y_test,p)*100)  
print("Report : \n", classification_report(Y_test, p))
print("F1 Score : ",f1_score(Y_test, p, average='macro')*100)

acc1.append(accuracy_score(Y_test,p)*100)

Accuracy :  91.66666666666666
Report :
               precision    recall  f1-score   support

        -1.0       0.86      0.86      0.86         7
         1.0       0.94      0.94      0.94        17

    accuracy                           0.92        24
   macro avg       0.90      0.90      0.90        24
weighted avg       0.92      0.92      0.92        24

F1 Score :  89.91596638655462

In [82]:
x = pd.concat([df1, df2, df3], axis = 0)
y = df4

X_train = x.drop('class',axis=1)
Y_train = x["class"]
X_test = y.drop('class',axis=1)
Y_test = y["class"]

c1 = RandomForestClassifier(max_depth=None, random_state=0)
c1.fit(X_train, Y_train)
p = c1.predict(X_test)
print ("Accuracy : " , accuracy_score(Y_test,p)*100)  
print("Report : \n", classification_report(Y_test, p))
print("F1 Score : ",f1_score(Y_test, p, average='macro')*100)

acc1.append(accuracy_score(Y_test,p)*100)

Accuracy :  82.14285714285714
Report :
               precision    recall  f1-score   support

        -1.0       1.00      0.50      0.67        10
         1.0       0.78      1.00      0.88        18

    accuracy                           0.82        28
   macro avg       0.89      0.75      0.77        28
weighted avg       0.86      0.82      0.80        28

F1 Score :  77.23577235772359

# Using Sklearn

In [83]:
df = pd.read_csv('ECG200_TRAIN.csv' , delimiter = '  ',header =None)

<ipython-input-83-574a54ce7e5b>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv('ECG200_TRAIN.csv' , delimiter = '  ',header =None)

In [84]:
from sklearn.model_selection import train_test_split

x = ecg.drop('class',axis=1)
y = ecg['class']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 40 )

c4 = RandomForestClassifier(max_depth=None, random_state=0)
c4.fit(x_train, y_train)
p = c4.predict(x_test)
print ("Accuracy : " , accuracy_score(y_test,p)*100)  
print("Report : \n", classification_report(y_test, p))
print("F1 Score : ",f1_score(y_test, p, average='macro')*100)

Accuracy :  75.0
Report :
               precision    recall  f1-score   support

        -1.0       0.38      1.00      0.55         3
         1.0       1.00      0.71      0.83        17

    accuracy                           0.75        20
   macro avg       0.69      0.85      0.69        20
weighted avg       0.91      0.75      0.79        20

F1 Score :  68.65203761755485

# Kfold Cross Validation

In [87]:
from sklearn.model_selection import KFold
kfol = KFold(n_splits = 4,shuffle = True)
for k, f in kfol.split(x): 
    X_train = x.iloc[k]
    X_test  = x.iloc[f]
    y_train = y.iloc[k]
    y_test  = y.iloc[f]    
    cl = RandomForestClassifier()
    cl = cl.fit(X_train, y_train)
    p = cl.predict(X_test)
    cl.score(X_test,y_test)

    print ("Accuracy : " , accuracy_score(y_test,p)*100)
    acc2.append(accuracy_score(y_test,p)*100)

Accuracy :  76.0
Accuracy :  88.0
Accuracy :  84.0
Accuracy :  84.0

In [88]:
print ("Accuracies without sklearn :")
acc1

Accuracies without sklearn :

[83.33333333333334, 83.33333333333334, 91.66666666666666, 82.14285714285714]

In [89]:
print ("Accuracies with sklearn :")
acc2

Accuracies with sklearn :

[76.0, 88.0, 84.0, 84.0]

In [91]:
print("The average accuracy Using Numpy: ", (sum(acc1)/4))
print("The average accuracy Using Sklearn: ", (sum(acc2)/4))

The average accuracy Using Numpy:  85.11904761904762
The average accuracy Using Sklearn:  83.0

#  In Conclusion the average accuracy result using Numpy is better than that using Sklearn